
<h1> <%= @question.title %> </h1>
<h3>Created by <%= @question.user_full_name %></h3>
<br>
<h3><%= @question.body %></h3>
<% if can? :manage, @question %>
<%= link_to 'edit', edit_question_path(@question) %>
<%= link_to 'delete', question_path(@question),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %>
<% else %>
<% end %>
<% if user_signed_in? && can?(:like, @question) %>
<% like = @question.like_for(current_user) %>
  <% if like.present? %>
  <%= link_to 'ðŸš½ Un-like', like_path(like), method: :delete %>
  <% else %>
  <%= link_to 'Like ðŸ‘', question_likes_path(@question), method: :post %>
  <% end %>
<% end %>
(<%= pluralize @question.likes.count, "like" %>)
<%# form_for @answer, url: question_answers_path(@question) do |f| %>

<section class="vote-widget">
  <%= upvote_link @question %>
  <%= downvote_link @question %>
  <%= @question.vote_value %>
</section>

<h2>All answers</h2>
<%= @answer.errors.full_messages.join(', ') %>
<%= form_for [@question, @answer] do |f| %>
<div>
  <%= f.label :body %>
  <%= f.text_area :body %>
</div>
<%= f.submit %>
<% end %>
<% @question.answers.each do |ans| %>
  <%= ans.body %> | <%= ans.user_full_name %>
  <% if can? :delete, ans %>
  <%= link_to 'delete', answer_path(ans),
                        method: :delete,
                        data: { confirm: 'are you sure?'} %>
  <% end %>
  <hr>

<% end %>
